body {
  background-color: #ff8811;
  display: flex;
  justify-content: center;
  font-family: 'Lato', sans-serif;
}

#title {
  display: flex;
  justify-content: center;
}

#section {
  background-color: #9dd9d2;
  width: 922px;
  height: 900px;
  border-radius: 10px;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: flex-start;
}

#describe {
    display: flex;
    justify-content: center;
}

#survey-form {
  width: 100%;

  display: flex;
  flex-direction: column;

  /* justify-content: space-around; */
}

#commentbox {

}

#submitArea {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.row {
    
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  /* align-items: flex-start; */
  align-items: space-between;
  width: 415px;
}

.col {
  display: flex;
  flex-direction: column;
}

.leftbox {
    /* padding-right: 10px;  */
  display: flex;
  justify-content: flex-end;
 
  width: 200px;
}

.rightbox {
   /* padding-left: 100px;  */
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 200px;
}
